body {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-text {
    font-size: larger;
    font-weight: bold;
    color: rgb(37, 37, 37);
    margin-bottom: 20px;
}

.calc-body {
    background-color: darkgray;
    padding: 20px;
    border-radius: 15px;
}

.display-area {
    background-color: olive;
    color: black;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    width: 290px;
    height: 1em;
}

.button-area {
    width: 300px;
    height: 375px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.calc-button {
    display: flex;
    box-sizing: border-box;
    border: 10px solid darkgray;
    background-color: rgb(102, 102, 102);
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    color: white;
}